.notification .container .app-icon,
.notification .container .app-name
{
  font-size: 2em;
}
.notification .container .content p {
  color: #666666;
  font-weight: 600;
  font-size: 1em;
}
.notification .content {
  margin: 0;
}
